:root{
    --main-color: rgb(218, 194, 164);
    overflow: hidden;
}


body{
    background-color: var(--main-color);
    font-family: 'Gentium Plus', 'Roboto', sans-serif;
    margin: 0px;
}
.container{
    display: flex;
}

.BGPicture{
 display: flex;
 
 position: relative;
 width: 40vw;
 height: 100vh;
 z-index: -1;
 margin: 0;
}

.corgiBG{
    position:absolute;
    width: 100%;
    height: 100%;
}


.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: black;
    color: beige;
    opacity: .5;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 63vh;
}

.odin-pic{
    height: 125px;
    width: 100px;
}
.credit{
    position: absolute;
    bottom:0px;
    margin: 0px;
    opacity: .8;
    font-size: .8rem;
}
.signUp{
    display: flex;
    flex-direction: column;
    width: 60vw;
    
}
.signUpText{
    height: 33vh;
}
.signUpForm{
    background-color: beige;
    height: 30vh;
}
.signUpFinal{
    height: 33vh;
}

.logInLink{
    color: brown;
    text-decoration: none;
}

.myGithub{
    height: 4vh;
}