:root{
    --main-color: rgb(218, 194, 164);
    --off-color: beige;
    --hover-color: rgba(0,0,0,.1);
    overflow: hidden;
    font-size: 1rem; 
}

:focus-visible{
    outline: 0;
}

body{
    background-color: var(--main-color);
    font-family: 'Gentium Plus', sans-serif;;
    margin: 0px;
}

.container{
    display: flex;
}

/* style for the left side of page */

.BGPicture{
 display: flex;
 position: relative;
 width: 40vw;
 height: 100vh;
 z-index: -1;
 margin: 0;
}

.corgiBG{
    position:absolute;
    width: 100%;
    height: 100%;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: black;
    color: var(--off-color);
    opacity: .6;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 63vh;
}

.odin-pic{
    height: 125px;
    width: 100px;
}

.credit{
    position: absolute;
    bottom:0px;
    margin: 0px;
    opacity: .8;
    font-size: .8rem;
}

/* Style for right side of page */
.signUp{
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.signUpText{
    height: 33vh;
}

.fakeText{
    overflow: auto;
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 5vw;
}

.formSection{
    background-color: var(--off-color);
    height: 30vh;
}

.shoutSignUp{
    margin-left: 3vw;
}


form{
    margin-left: 3vw;
    font-family: 'Gentium Plus', sans-serif;
    display:flex;
  flex-direction:column;
  align-items:center;
  justify-items:center
}

form button, input, select, textarea {
    font-family: 'Gentium Plus', sans-serif;
    -webkit-appearance: none;
    appearance: none;
    font-size: 100%;
    width : 80%;
    padding: 0;
}

input, textarea {
    font-family: 'Gentium Plus', sans-serif;
    -webkit-appearance: none;
    appearance: none;
    border  : 1px solid gainsboro;
    border-radius: 5px;
    padding : 0 10px;
    margin  :0;
    width   : 80%;
    background : none;
}

input:focus, textarea:focus {
    background   : var(--hover-color);
    border: 1px solid blue;
    box-shadow: 3px 3px gray;
}

input:required:focus:invalid {
    border: 1px solid red;
}

label{
    font-size: 1rem;
    font-family: 'Gentium Plus', sans-serif;
}

.labelCase{
    width:25vw;
    margin-top:8px;
}

.block{
    display: flex;
    width:100%;

}

.signUpFinal{
    height: 33vh;
}

.signupButton{
    cursor: pointer;
    margin-left: 3vw;
    margin-top: 4vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 1.2rem;
    background-color: brown;
    color: var(--off-color);
    font-weight: bolder;
    border-radius: 12px;
    border: 0px;
    transition-duration: 0.4s;
}


button:hover {
    box-shadow: 10px 10px 8px var(--off-color);
    color: var(--off-color);
}

button:active{
    transform: scale(.9);
}

.accountAsk{
    margin-left: 3vw;
    
}

.logInLink{
    color: brown;
    text-decoration: none;
}

.myGithub{
    height: 4vh;
}
